body {
    overflow:hidden;
    margin: 0;
}

.layer{
    position:absolute;
    width: 100%;
    height: 100%;
    overflow:hidden;
}

.hidden {
    z-index: -100;
    display: none;
}

#game  {
    width: 100%;
    height: 100%;
    overflow:hidden;
}

#back-1 {
    height: 84%;
    background: url("/images/back-1.png") repeat-x;
    background-size: 1200px 100%;
    animation: sky  120s linear infinite;
    z-index: -100;
}

@keyframes sky {   
    0%{
        background-position: 1200px;
    }
    100% {
        background-position: 0;
    }
}


#back-2 {
    height: 190%;
    background: url("/images/back-2.png");
    background-size: 1800px 100%;
    bottom: 60px;
    animation: rainbow 3000s  1 ;
    z-index: 100;

}

@keyframes rainbow {
    30%{
        background-position: 1800px;
    }
    100%{
        background-position: 0;
    }
}

#back-3 {
    height: 20%;
    background: url("/images/back-3.png") repeat-x;
    background-size: 1200px 100%;
    bottom: 58%;
    animation: clouds 50s linear infinite;
    z-index: 150;

}

@keyframes clouds {
    0%{
        background-position: 1800px;
    }
    100%{
        background-position: 0;
    } 
}

#back-4 {
    height: 100%;
    background: url("/images/back-4.png") repeat-x;
    background-size: 1200px 100%;
    animation: grass 20s linear infinite;
    z-index: 300;

}

@keyframes grass {
    0%{
        background-position: 1200px;
    }
    100%{
        background-position: 0;
    }
    
}

#back-5 {
    height: 90%;
    background: url("/images/back-5.png") repeat-x;
    background-size: 1200px 100%;
    bottom: 20px;
    animation: forest 20s linear infinite;
    z-index: 400;

}

@keyframes forest {
    0%{
        background-position: 1200px;
    }
    100%{
        background-position: 0;
    }  
}

#back-6 {
    height: 20%;
    background: url("/images/back-6.png") repeat-x;
    background-size: 1200px 100%;
    bottom: -20px;
    animation: floor  10s linear infinite;
    z-index: 500;

}

@keyframes floor {
    0%{
        background-position: 1200px;
    }
    100%{
        background-position: 0;
    }  
}

#back-7 {
    height: 100%;
    background: url("/images/back-7.png") repeat-x;
    background-size: 1200px 25%;
    bottom: -20%;
    animation: flower 20s linear infinite;
    z-index: 500;
}

@keyframes flower {
    0%{
        background-position: 1200px;
    }
    100%{
        background-position: 0;
    }  
}
/*/////////////---------- AVATAR ----------////////////////*/
#bear {
    position: absolute;
    height: 280px;
    left: 20%;
    bottom: 12%;
    z-index: 600;
}

.runner {
    width: 190px;
    background: url("/images/oso-caminando-resized.png") repeat-X;
    background-size: 1200px 100%;
    animation: runner .6s steps(6) infinite;
}


.jumper {
    width: 190px;
    background: url("/images/oso-saltando-resized.png") repeat-X;
    background-size: 1200px 100%;
    animation: jumper 1.6s steps(6);
}

.faller {
    width: 201px;
    background: url("/images/oso-caido-resized.png") repeat-X;
    background-size: 1200px 100%;
    animation: faller .6s steps(4) ;
    
}

@keyframes runner {
    100%{ 
        background-position: 1200px;
    }
    0%{
        background-position: 0;
    } 
}

@keyframes jumper {
    0%{ 
        bottom: 12%;
        background-position: 0px;
    }

    50% {
        bottom: 35%;
    }

    80%{
        bottom: 35%;
    }
    100%{
        bottom: 12%;
        background-position: 1200px;

    }  
}

@keyframes faller {
    100%{ 
        bottom: 12%;
        background-position: 1200px;
    }
    0%{
        bottom: 12%;
        background-position: 0px;
    }  
}

.dying {
    background: url("/images/oso-caido-resize.png") repeat-X;
    width: 229px;
    background-size: 1200px 100%;
    animation: dead 1.6s steps(4) ;
    animation-fill-mode: forwards;
    animation-iteration-count: calc(1/3);
    bottom: 12%;
    left: 125px;
}

@keyframes dead {
    0% {
        background-position: 0
    }
    100% {
        background-position: 1200px
    }
}
/*//////////////////---------- ASSETS  ----------//////////////*/

/*//////////////////---------- ENEMIES  ----------//////////////*/
.enemy{
    position: absolute;
    animation: enemy 6s linear;
    z-index: 600;
}

.stone {    
    background: url("/images/assets/stone-resized.png") repeat-x;
    bottom: 16%;
    width: 110px;
    height: 75px ;
    z-index: 600;
}

.cactus{ 
    background: url("/images/assets/cactus.png") repeat-x;
    bottom: 15%;
    width: 70px ;
    height: 45px ;
    z-index: 600;
}
.tronco{
    
    background: url("/images/assets/tronco.png") repeat-x;
    bottom: 15%;
    width: 110px;
    height: 85px;
    z-index: 600;
}

@keyframes enemy {
    from {
        left: 100%;
    }
    to {
        left: -20%;
    }
}


/*//////////////////---------- REWARDS  ----------//////////////*/
/* animacion desde js cuando colisiona con la moneda*/

@keyframes collect {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(0, -400px) rotateY(1440deg);
        
    }
}

.coin {
    position: absolute; 
    width: 60px;
    height: 90px;
    background: url("/images/assets/coin-resized.png") repeat-x;
    bottom: 50%;
    animation: reward 5s linear ;
    filter: opacity(80%);
    z-index: 600;
}

.star{
    position: absolute;
    width: 60px;
    height: 90px;
    background: url("/images/assets/star.png") repeat-x;
    bottom: 55%;
    animation: reward 5s linear;
    z-index: 600;
}

.heart {
    position: absolute;
    width: 60px;
    height: 90px;
    background: url("/images/assets/bear-life.png") repeat-x;
    bottom: 60.1%;
    animation: reward 3s linear;
    z-index: 600;
}

@keyframes reward {
    from {
        left: 100%;
    }
    to {
        left: -40%;
    }
}